[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
coreapi = "*"
django-allauth = "*"
django-rest-auth = "*"
gunicorn = "*"
django-heroku = "*"
"psycopg2-binary" = "*"
faker = "*"
factory-boy = "*"
pillow = "*"
django-filter = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
